{% extends 'base.html.twig' %}

{% block body %}
    <h1>All News</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td>{{ news.title }}</td>
                <td>{{ news.content }}</td>
                <td>{% if news.creationDate %}{{ news.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'id': news.id }) }}"><button>show</button></a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': news.id }) }}"><button>edit</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_new') }}"><button>Create new news thread</button></a>
        </li>
    </ul>
{% endblock %}